body {
  background-image: url(../images/christmas-2918569_1920.jpg);
  background-size: ;
  background-position: bottom;
  padding-bottom: 200px;
}

li {
  padding-left: 50px;
}
.contact_us {
    padding-left: 500px;
    padding-top: 150px;
}

h1 {
  color: white;
  text-shadow: 2px 2px 6px black;
  padding-top: 60px;
}

h3 {
  color: white;
  text-shadow: 2px 2px 6px #832323;
}

p {
  font-size: 20px;
  color: black;
  text-shadow: 2px 2px 6px white;
  font-weight:700;
}

input {
  font-size: 15px;
}

.checkbox {
  color: white;
  text-shadow: 2px 2px 6px #832323;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.social-media {
  padding-left: 832px;
}
