*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family:'Segoe UI', Tahoma, Geneva, verdana, sansserif;
  font-size: 1rem;
  line-height: 1.5
  color:#333;
  overflow-x:hidden;
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin:auto;
  text-align:center;

}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow: hidden;
}
.fullscreen-video-wrap{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay{
  height:100vh;
  width: 100vw;
  position:absolute;
  top:0;
  left:0;
  background-color: #225470;
  opacity:0;
}

.header-content {
  z-index: 9999;
  width: 100%;
  text-align: center;
}
.header-content h1{
  font-size:50px;
  margin-bottom:20;
  font-family: ;
  text-shadow: -1px -1px 0 #DB4B0E,
    1px -1px 0 #DB4B0E,
    -1px 1px 0 #DB4B0E,
    1px 1px 0 #000;
  text-shadow: 2px 2px 6px #DB4B0E;

}


.btn{
  background: #DB4B0E;
  color: #fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
