
.jumbotron{
  background-image: url(../images/background-3828004_1920.jpg);
  background-size: cover;
}


.col {
    float: left;
}
.col1 {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}
