
.jumbotron{
  background-image: url(../images/background-3828004_1920.jpg);
  background-size: cover;
}


.col {
    float: left;
}
.col1 {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}

.btn{
  background: #DB4B0E;
  color: #fff;
  font-size:1.2rem;
  text-decoration: none;
  font-family:'Caveat', Tahoma, Geneva, verdana, sansserif;
}

video {
  width: 100%;
  height: auto;
}
